doctype html
html
   head
      title="Error"
   body
    
    include ./header.pug
                
        h1 ERROR! 404 not found

        img(src="https://cdn.dribbble.com/users/1000681/screenshots/3466109/media/272b3a5f18cac0f0e77c3e340d98c99a.gif", alt="404")
    
    include ./footer.pug